<div class="col-lg-4">
	<h3>{{title}}</h3>
	<div class="slidebar-admin" data-exaple-id="sample-nav-stacked">
		<ul class="nav nav-pills nav-stacked nav-pill-stacked-example">
			<li role="presentation" [routerLinkActive]="['active']">
				<a [routerLink]="['listado']">Listado</a>
			</li>
			<li role="presentation" [routerLinkActive]="['active']">
				<a [routerLink]="['crear']">Crear</a>
			</li>
			<li role="presentation">
				<a [routerLink]="['listado']" [routerLinkActive]="['active']">Informacion</a>
			</li>
		</ul>
	</div>
</div>
<nav class="navbar navbar-dark bg-dark">
  hola
</nav>

<router-outlet></router-outlet>